<%= render "components/header" %>
<br>
<br>
<div class="contact-flex">
<h1 class="title-c">Contact</h1>
<br>
<form class= "flex" action="https://postmail.invotes.com/send"
    method="post" id="email_form">
    <input type="email" name="subject" placeholder="E-mail" />
    <textarea name="text" placeholder="Message"></textarea>
    <input type="hidden" name="access_token" value="kv81z191y79wzzlil6z748kl" />
      <!-- return urls can be fully qualified -OR-
         start with / for root relative -OR-
         start with . for url relative -->
    <input type="hidden" name="success_url" value=".?message=Email+Successfully+Sent%21&isError=0" />
    <input type="hidden" name="error_url" value=".?message=Email+could+not+be+sent.&isError=1" />


    <!-- set the reply-to address -->
    <!-- <input type="text" name="reply_to"
                placeholder="Your Email" /> -->

    <!-- to append extra fields, use the extra_ prefix.
        Entries will be appended to your message body. -->
    <!-- <input type="text" name="extra_phone_number"
                placeholder="Phone Number" /> -->

    <!-- to split your message into 160 chars
         for an sms gateway -->
    <!-- <input type="hidden"
                name="sms_format" value="true" /> -->

    <input id="submit_form" type="submit" value="Envoyer" />
    <!-- not required, but we'd appreciate it if you'd link to us somewhere on your site -->

</form>

<!-- optional, prevents the submit button from being pressed more than once -->
<script>
    var submitButton = document.getElementById("submit_form");
    var form = document.getElementById("email_form");
    form.addEventListener("submit", function (e) {
        setTimeout(function() {
            submitButton.value = "Envoi...";
            submitButton.disabled = true;
        }, 1);
    });
</script>
<br>
<br>
<br>
<div class="bio">
<%= image_tag("portrait.jpg", alt: "Diogo Maia Moreira ")%>
<p class="">Diogo Maia fut un ancien élève de la Faculdade de Belas Artes de Porto (Portugal), ayant obtenu le DNSAP à l’École des Beaux-Arts de Paris, il est  peintre, poète et vidéaste de nationalité portugaise, originaire de Porto. Durant sa formation artistique, il a éprouvé le besoin d’élargir progressivement son champ de création. Les premières années à l’École des Beaux-Arts de Porto furent dédiées à la peinture, au dessin et aux techniques d’impression. Puis son séjour Erasmus+ aux Beaux-Arts de Paris, à la fin de la licence, a bouleversé son parcours artistique. Lors de ce séjour, il  a appris le français. En 2013 il a passé le concours de l' ENSBA et a intégré l’atelier Volume et Performance dirigé par l’artiste Emmanuel Saulnier. Sa première création lors de cette étape parisienne fut aussi son premier travail d’écriture. Intitulé La voix de la prose et la voix de la poésie, il s’agissait d’une performance rythmique où le corps et la voix du poète sont au cœur du dispositif.  Depuis lors il fait des recherches  filmiques de la voix et du corps et des écritures où le plurilinguisme est le signe d'un désir d'élargissement de la parole poétique. Après un séjour de deux ans Bulgarie (2018-2020) où il a écrit une prose sur la  la notion de  “loin” dans la naissance de la parole poétique, dorénavant il commence un projet inspiré de la parole et des formes des troubadours afin de poser un regard sur les échanges entre les langues romanes, les poètes et les territoires.</p></div>
 </div>
 <br>
  <%= render "components/footer" %>
