<%= render "components/header" %>

<div class="flex-acceuil">
<div id="img-accueil">
<%= image_tag("carte.jpg", alt: "Diogo Maia Moreira ")%>
</div>

<div class="map">
<iframe src="https://www.google.com/maps/d/embed?mid=1SRMeoFXGFjPlXbrOt0O4jfkktMh_EX5B" width="1357" height="600"></iframe>
</div>
</div>
<%= render "components/footer" %>
