<%= render "components/header" %>
<body style="background-image: url('https://res.cloudinary.com/dft5iblyz/image/upload/v1611606286/back_rgt0vt.jpg'); background-size: cover;">

<div class="flex-acceuil">
<div id="img-accueil">

</div>

<div class="map">
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
</div>

</div>
</body>
<%= render "components/footer" %>
