<%= render "components/header" %>
<div id="journal" style="text-align:center">
<iframe src="https://drive.google.com/file/d/1zluF46fd0DBJP4HgURq_H2EyzRC2ULZ7/preview" width="750" height="1000"></iframe>
</div>
  <%= render "components/footer" %>
