<%= render "components/header" %>
<div id="container-banner">
  <%= image_tag("https://res.cloudinary.com/dft5iblyz/image/upload/v1618920903/page_journal_banni%C3%A8re_aotpii.jpg", alt: "Diogo Maia Moreira ")%>
</div>
<div id="journal" style="text-align:center">
  <br>
    <br>
<iframe src="https://drive.google.com/file/d/1zluF46fd0DBJP4HgURq_H2EyzRC2ULZ7/preview" width="750" height="1000"></iframe>
  <br>
    <br>
</div>
  <%= render "components/footer" %>
