  <%= render "components/header" %>
<div class="container-m">
  <br>
    <br>
  <div class="mentions-legales">
    <h1 class="title-tr">MENTION LÉGALES</h1>
    <br>
    <p class="intro-m">Le présent site http://www.gue-savoir.fr est édité par :</p>
    <p class="intro-m"> Monsieur Diogo Maia Moreira</p>
    <br>
    <p>Adresse email : dmoreiramaia@gmail.com</p>
    <p>Hébergeur du site : Namecheap, Phoenix, Arizona, United States</p>
    <p>Responsable du site : Madame Camille Sauer</p>
    <p>"Diogo Maia Moreira" - Tous droits réservés.</p>
  </div>
    <br>
      <br>
      </div>
  <%= render "components/footer" %>
