.map{
  text-align: center;
}

.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: white;
  margin-top: 30px;

}

.img-trajet img{
  width: 507px;
  height: 257px;
  object-fit:cover;
  filter: brightness(50%);
  border-radius: 10px;
  margin: 30px;

}

@media screen and (max-width: 550px) {
.display-grid-card{
  display: grid;
  grid-template-columns: 1fr ;
  justify-items: center;
}
}

  .lock-item img{
  width:30px;
  margin: 20px;
}


@media screen and (max-width: 550px) {
.img-trajet img{
  width: 257px;
  height: 307px;
  object-fit:cover;
  filter: brightness(50%);
  border-radius: 10px;
  margin: 30px;

}}


@media screen and (min-width: 551px) {
.display-grid-card{
  display: grid;
  grid-template-columns: 1fr ;
  justify-items: center;
}
}

@media screen and (min-width: 1201px) {
.display-grid-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
}

@media screen and (min-width: 1700px) {
.display-grid-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
}



.img-trajet h1{
  bottom: 127px;
  left: 50px;
  position: relative;
  font-size: 18px;
  font-family: cabin;
  font-weight:bold;
  color:white;
  text-transform: uppercase;;
}

.img-trajet h5{
  bottom: 122px;
  left: 50px;
  position: relative;
  font-size: 18px;
  font-family: cabin;
  font-weight:bold;
  color:white;
}

.img-trajet h4{
  bottom: 122px;
  left: 50px;
  position: relative;
  font-size: 18px;
  font-family: cabin;
  font-weight:bold;
  color:white;
}


.form-inputs textarea{
  border-radius: 10px;
  border-color: red;
  margin-bottom: 20px;
}

.form-inputs label{
display:none;
}

.btn-banner-p{
  font-size: 15px;
  font-family: cabin;
  font-weight:bold;
  color:white;
  margin-left:30px;
}

.btn-banner-p a{
  font-size: 15px;
  font-family: cabin;
  font-weight:bold;
  color:white;
}

.btn-banner-p a:hover{
  font-size: 15px;
  font-family: cabin;
  font-weight:bold;
  color:white;
  text-decoration: none;
}

.form-inputs h5{
    font-size: 15px;
  font-family: cabin;
  font-weight:bold;
  margin-bottom:20px;
  justify-content:center  !important;
  align-items: center !important;
   display: flex !important;
    flex-direction: column !important;
    text-align: center;
}

.title-new{
  margin-top: 20px;
  font-size: 18px;
  font-family: cabin;
  font-weight:bold;
  color: red;
  margin-bottom:20px;
  justify-content:center  !important;
  align-items: center !important;
   display: flex !important;
    flex-direction: column !important;
    text-align: center;
}

.form-inputs div{
      display: flex !important;
    flex-direction: column !important;
    justify-content:center  !important;
  align-items: center !important;

}

.form-actions btn{
      display: flex !important;
    flex-direction: column !important;
    justify-content:center  !important;
  align-items: center !important;
  text-align: center;

}
.menu-text{
  font-family: 'Cabin', sans-serif;
  display:flex;
}

.footer-shadow{
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
      background: white;

}

.footer-shadow p{
  text-align:center;
  padding-bottom: 20px;
}


.link-footer a{
  color:red;
  font-size: 12px;
  font-family: cabin;

}

.link-footer a:hover{
  color:grey;
  font-size: 12px;
  font-family: cabin;
  text-decoration:none;

}

@media (min-width: 499px) {
.menu-resp{
  margin-left: 80px
}}

@media (min-width: 499px) {
.lock-item img {
    width: 30px !important;
    margin-left: 10px;
  }}

.flex-acceuil{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
#img-accueil img{
  margin: 30px;
  text-align: center !important;
  width: 1357px !important;
  height:600px !important;
  object-fit:cover !important;
}

.menu-resp a{
  color:black;
  font-weight:bold;
  font-family: Cabin, sans-serif;
}

.menu-resp button{
  color:white;
  background-color: red;
  font-weight:bold;
  font-family: Cabin, sans-serif;
}

@media (max-width: 600px) {
.menu{
 padding-left: 5px;

}
}

.menu-text a{
  margin: 20px;
  color: black;
  font-size: 20px;
}


.menu-text a:hover{
  font-weight: bold;
  text-decoration: none;
  color: red;
}

.menu {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
  color: white;
  margin-bottom: 20px;
}

.menu-resp button:hover{
  color:white;
  background-color: red;
  font-weight:bold;
  font-family: Cabin, sans-serif;
}

.menu-resp a:hover{
  color:red;
  font-weight:bold;
  font-family: Cabin, sans-serif;
}

@media (min-width: 550px) {
.menu-resp{
  display:none;
}}

@media (max-width: 550px) {
.menu-text{
  display:none;
}}


.footer img {
width: 50px;
height: auto;
margin:20px;
}
